.footer {
  position: absolute;
  padding: 0 2rem;
  margin-top: 52rem;
  color: var(--txt-main);
}

.footer-content {
  width: 100%;
  border-top: 0.3px solid var(--txt-main);
  padding: 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content-icons {
  font-size: 1.8rem;
}






