.button {
  height: 30px;
  width: 70px;
  border-radius: 10%;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-left: 11rem;
  margin-right: 11rem;
}

.menu:hover .menu-1 {
  display: block;
  position: absolute;
  margin-top: 28px;
  margin-left: -15px;
  z-index: 1;
}

.menu-1 {
  display: none;
}

.calendar {
  display: flex;
}

.calendar:hover .menu-1 {
  display: block;
  position: absolute;
  margin-top: 28px;
  margin-left: -15px;
  z-index: 1;
}

.datas {
  display: flex;
  margin-top: -30px;
  margin-left: 100px;
}

.datas1 {
  display: flex;
  margin-top: 70px;
}

.temp {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  margin-left: 11rem;
  margin-right: 11rem;
}
